web_evaluation_deck
web_spookifier
web_horror_feeds
web_juggling_facts
web_cursed_party

pwn_pumpkin_stand
pwn_entity
pwn_pumpking
pwn_spooky_time
pwn_finale

rev_cult_meeting
rev_encodedpayload
rev_ghost_wrangler
rev_ouija
rev_securedtransfer

crypto_gonna-lift-em-all/
crypto_fast_carmichael/
crypto_spooky_rsa/
crypto_whole_lotta_candy/
crypto_ahs512/

forensics_downgrade
forensics_halloween_invitation
forensics_trick_or_breach
forensics_wrong_spooky_season
capture.pcap
